a {
  color: #294D70; }

body {
  background: white; }

/* wrapper */
.wrapper, .wrap {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.page-wrapper, .p-wrap {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px; }

.post, .content {
  background: white;
  padding: 20px; }

/*======================================================== 
header 
==========================================================*/
.header {
  background: white;
  border-bottom: solid 1px #aaaaaa;
  z-index: 6000; }

.mble-btns {
  padding: 20px; }

/* ==============================================================
logo
================================================================= */
.logo {
  float: left;
  width: 70%;
  max-width: 270px;
  display: block;
  position: relative;
  padding: 10px 0;
  z-index: 6002; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  width: 100%;
  margin: 0; }

/* ============================================================
nav 
================================================================*/
#nav-toggle {
  color: #323232;
  float: right;
  border: solid 1px #c8c8c8;
  padding: 5px 5px 5px 10px;
  font-size: 22px;
  margin-top: 10px; }

.mble-nav .p-wrap {
  padding: 0;
  display: block;
  position: relative;
  z-index: 6001; }

.mble-nav ul {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 6002; }
.mble-nav .nav-cat {
  background: #e6e6e6; }
.mble-nav li {
  position: relative;
  display: block;
  border-bottom: solid 1px #aaaaaa; }
  .mble-nav li:last-child {
    border: none; }
  .mble-nav li a {
    display: block;
    color: black;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative; }
.mble-nav a:hover {
  background: #c8c8c8; }
.mble-nav .sub-menu {
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  z-index: 2;
  position: relative;
  padding: 0px; }
  .mble-nav .sub-menu li {
    text-align: center;
    width: 100%;
    background: white;
    display: block;
    position: relative;
    border-bottom: solid 1px #c8c8c8;
    border-left: solid 1px #c8c8c8; }
    .mble-nav .sub-menu li a {
      padding: 10px 10px;
      color: black; }
    .mble-nav .sub-menu li:after {
      display: none;
      border: none; }
    .mble-nav .sub-menu li a:hover {
      background: #e6e6e6;
      text-decoration: none;
      color: black; }

.current_page_item a {
  color: black; }

/*=============================================================
banner
===============================================================*/
.banner-home {
  /* height: 420px; */
  background: url('./img/bkg-1.jpg');
  background-size: cover; }

/* ===============================================================
footer items
=================================================================== */
.footer-items {
  background: #e6e6e6;
  padding: 25px 0;
  border-top: solid 1px #c8c8c8;
  color: #525252; }
  .footer-items ul {
    padding-left: 0; }

/*=============================================================== 
footer 
================================================================*/
footer {
  background: #646464;
  text-align: center;
  color: whitesmoke;
  padding: 10px;
  font-size: 12px; }
  footer a {
    color: whitesmoke; }

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5em;
  margin: 10px; }

.color-1 {
  background: #294D70; }

.color-2 {
  background: #F8B014; }

.color-3 {
  background: #283545; }

.color-4 {
  background: #6e9fa4; }

.color-5 {
  background: #3f646c; }

.color-6 {
  background: #07619d; }

.grey-1 {
  background: whitesmoke; }

.grey-2 {
  background: #e6e6e6; }

.grey-3 {
  background: #c8c8c8; }

.grey-4 {
  background: #aaaaaa; }

.grey-5 {
  background: #8c8c8c; }

.grey-6 {
  background: #646464; }

.grey-7 {
  background: #323232; }

.grey-8 {
  background: black; }

.txt-color-1 {
  color: #294D70; }

.txt-color-2 {
  color: #F8B014; }

.txt-color-3 {
  color: #283545; }

.txt-color-4 {
  color: #6e9fa4; }

.txt-color-5 {
  color: #3f646c; }

.txt-color-6 {
  color: #07619d; }

.txt-wht {
  color: whitesmoke; }

/* ===========================================================================
  typography
  =========================================================================== */
p {
  margin: 0 0 20px; }

ul li, ol li {
  line-height: 130%; }

.pad-sm {
  padding: 10px; }

.pad-m {
  padding: 25px; }

.pad-l {
  padding: 50px; }

.headline-1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2em;
  margin: 0 0 15px -3px; }

.sub-headline-1 {
  letter-spacing: 0.3em;
  line-height: 1.2em;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: -20px 0 10px; }

.title-1, .entry-title {
  font-size: 22px;
  font-weight: 600; }

.title-2 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
  margin-bottom: 15px; }

.title-3 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 10px; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

.input, .textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid #aaaaaa;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  resize: none;
  font-size: 16px; }

.input:focus, textarea:focus {
  outline: none;
  border-color: #294D70; }

.input[type='button'], .input[type='submit'], .button, .button {
  border: none;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }

.button {
  display: inline-block; }

.form-btn-1, .btn-1 {
  padding: 10px 20px;
  color: whitesmoke;
  margin-bottom: 20px;
  background-color: #294D70; }
  .form-btn-1:hover, .btn-1:hover {
    background-color: #1b344b; }
  .form-btn-1:active, .form-btn-1:focus, .btn-1:active, .btn-1:focus {
    background-color: #294D70; }
  .form-btn-1:hover, .btn-1:hover {
    color: whitesmoke; }

.btn-2 {
  padding: 10px 20px;
  color: whitesmoke;
  background-color: #283545; }
  .btn-2:hover {
    background-color: #151c25; }
  .btn-2:active, .btn-2:focus {
    background-color: #283545; }
  .btn-2:hover {
    color: whitesmoke; }

.btn-3 {
  padding: 10px 20px;
  color: #323232 !important;
  font-size: 14px;
  background-color: #aaaaaa; }
  .btn-3:hover {
    background-color: #909090; }
  .btn-3:active, .btn-3:focus {
    background-color: #aaaaaa; }
  .btn-3:hover {
    color: whitesmoke; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: #c8c8c8;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }

.content img {
  width: 100%;
  height: auto; }

img.captcha {
  width: 75px; }

img.ajax-loader {
  width: 20px; }
