a {
  color: #00A9FF; }

body {
  background: #0386C9; }

/* wrapper */
.wrapper, .wrap {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.page-wrapper, .p-wrap {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px; }

.content {
  background: white;
  padding: 50px 0; }

/*======================================================== 
header 
==========================================================*/
.header {
  background: #00A9FF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
  z-index: 6000; }

/* business information across the top of header */
.business-info {
  background: #0386C9;
  padding: 5px; }
  .business-info a {
    color: #0386C9; }
  .business-info .top-wdgt-l {
    color: white;
    float: left; }
  .business-info .top-wdgt-r {
    color: white;
    float: right; }
  .business-info li {
    display: inline-block;
    margin-left: 20px;
    color: white; }

/* ==============================================================
logo
================================================================= */
.logo {
  float: left;
  width: 150px;
  display: block;
  position: absolute;
  padding: 10px;
  z-index: 6002; }
  .logo a:hover {
    color: black !important; }

.logo-img {
  margin: 0; }

/* ============================================================
nav 
================================================================*/
.nav .p-wrap {
  padding: 0;
  display: block;
  position: relative;
  z-index: 6001;
  height: 125px; }
  .nav .p-wrap ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
    position: absolute;
    z-index: 6002;
    right: 0;
    bottom: 0; }
  .nav .p-wrap li {
    position: relative;
    display: inline-block;
    margin-left: -4px; }
    .nav .p-wrap li a {
      display: block;
      color: white;
      padding: 18px 30px;
      text-transform: uppercase;
      font-size: 14px;
      position: relative; }
  .nav .p-wrap a:hover {
    background: #0386C9; }
  .nav .p-wrap ul.sub-menu {
    display: none; }
    .nav .p-wrap ul.sub-menu a {
      padding: 10px;
      width: 300px; }

.nav ul li:hover > ul.sub-menu {
  display: block;
  z-index: 99;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px -16px;
  padding: 0px;
  border: 1px #808080 solid;
  background-color: #fff;
  width: 300px; }

.current_page_item a {
  color: black; }

/*=============================================================
banner
===============================================================*/
.banner-home {
  /* height: 420px; */
  background: url('./img/bkg-1.jpg');
  background-size: cover; }

/* ===============================================================
footer items
=================================================================== */
.footer-items {
  background: #F2F2F2;
  padding: 25px 0;
  border-top: solid 1px #e5e5e5;
  color: #525252; }
  .footer-items ul {
    padding-left: 0; }
  .footer-items .widget_nav_menu {
    width: 33.3%;
    float: left;
    border-right: solid 1px #c2c2c2;
    padding-left: 35px; }
    @media (max-width: 45em) {
      .footer-items .widget_nav_menu {
        float: none;
        width: 90%; } }
  .footer-items .widget_text {
    padding-left: 36px;
    width: 33.3%;
    float: left; }
    @media (max-width: 45em) {
      .footer-items .widget_text {
        float: none;
        width: 90%; } }

/*=============================================================== 
footer 
================================================================*/
footer {
  background: #00A9FF;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 12px; }
  footer a {
    color: white; }

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em; }

.color-1 {
  background: #00A9FF; }

.color-2 {
  background: #0386C9; }

.color-3 {
  background: #F7A710; }

.color-4 {
  background: #9370E9; }

.color-5 {
  background: #e5e5e5; }

.color-6 {
  background: #DDD5F8; }

.txt-color-1 {
  color: #00A9FF; }

.txt-color-2 {
  color: #0386C9; }

.txt-color-3 {
  color: #F7A710; }

.txt-color-4 {
  color: #9370E9; }

.txt-color-5 {
  color: #e5e5e5; }

.txt-color-6 {
  color: #DDD5F8; }

.txt-wht {
  color: white; }

/* ===========================================================================
  typography
  =========================================================================== */
p {
  margin: 0 0 20px; }

ul li, ol li {
  line-height: 130%; }

.headline-1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 53px;
  line-height: 1.2em;
  margin: 0 0 15px -3px; }

.sub-headline-1 {
  letter-spacing: 0.3em;
  line-height: 1.2em;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: -20px 0 10px; }

.title-1 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.2em;
  margin-bottom: 15px; }

.title-2 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 15px; }

.title-3 {
  display: block;
  font: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 10px; }

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em; }

.input, .textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: 0.5em;
  margin-bottom: 0.75em;
  border: 0.1em solid lightgrey;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none; }

.input:focus, textarea:focus {
  outline: none;
  border-color: #00A9FF; }

input[type='button'], input[type='submit'], button, .button {
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  margin-bottom: 0.75em;
  margin-bottom: 0.75rem; }

.button {
  display: inline-block; }

.form-btn-1, .btn-1 {
  color: white;
  background-color: #0386C9; }
  .form-btn-1:hover, .btn-1:hover {
    background-color: #026597; }
  .form-btn-1:active, .form-btn-1:focus, .btn-1:active, .btn-1:focus {
    background-color: #0386C9; }
  .form-btn-1:hover, .btn-1:hover {
    color: white; }

.btn-2 {
  color: white;
  background-color: #F7A710; }
  .btn-2:hover {
    background-color: #cd8807; }
  .btn-2:active, .btn-2:focus {
    background-color: #F7A710; }
  .btn-2:hover {
    color: white; }

.btn-3 {
  color: black !important;
  font-size: 14px;
  background-color: lightgrey; }
  .btn-3:hover {
    background-color: #b9b9b9; }
  .btn-3:active, .btn-3:focus {
    background-color: lightgrey; }
  .btn-3:hover {
    color: white; }

/* ==========================================================================
   =ADJECTIVES
   ========================================================================== */
.ws-adjectives div {
  font-size: 1.5em;
  padding-bottom: 0.25em; }

/* ==========================================================================
   =COLOPHON
   ========================================================================== */
.colophon {
  clear: both;
  text-align: center;
  font-size: 0.875em;
  padding: 1.714em 0;
  border-top: thin solid #eee;
  margin-top: 1.714em; }

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding: 10px;
  background: #e5e5e5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.21); }
