@function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}

@mixin letterpress($opacity){
  text-shadow:white($opacity) 0 1px 0;
}

@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin btnHover($baseColor) {
  background-color: $baseColor;
  &:hover {
        background-color: darken($baseColor, 10);
          }
  &:active, &:focus {
    background-color:$baseColor;
  }
}

$font-1:'Open Sans', sans-serif;
$grey-1: rgba(245,245,245,1);
$grey-2: rgba(230,230,230,1);
$grey-3: rgba(200,200,200,1);
$grey-4: rgba(170,170,170,1);
$grey-5: rgba(140,140,140,1);
$grey-6: rgba(100,100,100,1);
$grey-7: rgba(50,50,50,1);
$grey-8:black;
$color-1:rgba(0,169,255,1);
$color-2:rgba(3,134,201,1);
$color-3:rgba(247,167,16,1);
$color-4:rgba(147,112,233,1);
$color-5:rgba(229, 229, 229,1);
$color-6:rgba(221,213,248,1);
$pattern-1:url('../img/pattern.img');
$gradient-1:linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%);
$shadow-1:0 1px 2px rgba(0, 0, 0, 0.21);
$shadow-in-1:inset 0 1px 2px rgba(0, 0, 0, 0.21);

a {
  color:$color-1;
}

body {
  background:$color-2;
}

/* wrapper */
.wrapper, .wrap {
  width: 100%;
  margin:0 auto;
  position:relative;
}

.page-wrapper, .p-wrap {
  position:relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding-right:20px;
  padding-left:20px;
}

.content {
  background:white;
  padding:50px 0;
}
/*======================================================== 
header 
==========================================================*/
.header {
   background: $color-1;
  box-shadow:$shadow-1;
  z-index: 6000;
}

/* business information across the top of header */

.business-info {
  background:$color-2;
  padding: 5px;
    a {
      color: $color-2;
  }
  .top-wdgt-l {
    color:$grey-1;
    float: left;
  }
   .top-wdgt-r {
    color:$grey-1;
    float: right;
  }

  li {
    display: inline-block;
    margin-left: 20px;
    color: white;
  }
}
 
/* ==============================================================
logo
================================================================= */

.logo {
  float:left;
  width:150px;
  display: block;
  position: absolute;
  padding:10px;
  z-index: 6002;
  a:hover {
    color: black !important;
  }
}

.logo-img {
  margin: 0;
}

/* ============================================================
nav 
================================================================*/


.nav .p-wrap{
  padding:0;
  display: block;
  position: relative;
  z-index: 6001;
  height: 125px;
 
   ul {
      display:inline-block;
      margin: 0;
      padding: 0;
      float: right;
      position:absolute;
      z-index: 6002;
      right:0;
      bottom:0;
     }
    li {
      position:relative;
      display:inline-block;
      margin-left: -4px;
      a {
        display:block;
        color: $grey-1;
        padding: 18px 30px;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
      }
    }
    a:hover {
       background: $color-2;
    }
    ul.sub-menu {
    display:none;
    a{
      padding:10px;
      width:300px
      }
    }
  }

.nav ul li:hover > ul.sub-menu {
display:block;
z-index:99;
position:absolute;
top:30px;
margin:0px 0px 0px -16px;
padding:0px;
border:1px #808080 solid;
background-color:#fff;
width:300px;
}

.current_page_item a {
color: black;
}

/*=============================================================
banner
===============================================================*/

.banner-home {
    /* height: 420px; */
    background: url('./img/bkg-1.jpg');
    background-size: cover;
}


/* ===============================================================
footer items
=================================================================== */

.footer-items {
    background:$grey-2;
    padding: 25px 0;
    border-top: solid 1px $grey-3;
    color: rgb(82, 82, 82);
    ul {
      padding-left:0;
    }
    .widget_nav_menu {
      width: 33.3%;
      float: left;
      border-right: solid 1px rgb(194, 194, 194);
      padding-left: 35px;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        }
    }
    .widget_text {
      padding-left: 36px;
      width: 33.3%;
      float: left;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        } 
    }
}

/*=============================================================== 
footer 
================================================================*/

footer {
  background:$color-1;
  text-align:center;
  color: $grey-1;
  padding: 10px;
  font-size: 12px;

  a {
    color: $grey-1;
  }
}

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  height: 5em;
  margin: 10px;
}

.color-1 {
  background: $color-1;
}

.color-2 {
  background: $color-2;
}

.color-3 {
  background: $color-3;
}

.color-4 {
  background: $color-4;
}

.color-5 {
  background: $color-5;
}

.color-6 {
  background: $color-6;
}

.txt-color-1 {
  color: $color-1;
}

.txt-color-2 {
  color: $color-2;
}

.txt-color-3 {
  color: $color-3;
}

.txt-color-4 {
  color: $color-4;
}

.txt-color-5 {
  color: $color-5;
}

.txt-color-6 {
  color: $color-6;
}

.txt-wht {
  color:$grey-1;
}


/* ===========================================================================
  typography
  =========================================================================== */
p {margin:0 0 20px;}

ul li, ol li {line-height: 130%;}

.pad-sm {
  padding:10px;
}

.pad-m {
  padding:25px;
}

.pad-l {
  padding:50px;
}

.headline-1 {
  display:block;
  font-family:$font-1;
  font-weight: 700;
  font-size:53px;
  line-height: 1.2em;
  margin: 0 0 15px -3px;
}

.sub-headline-1 {
  letter-spacing: .3em;
  line-height: 1.2em;
  display:block;
  font-family:$font-1;
  font-weight: 600;
  font-size:24px;
  margin: -20px 0 10px;
}

.title-1 {
  display:block;
  font-family:$font-1;
  font-weight: 400;
  font-size:42px;
  line-height: 1.2em;
   margin-bottom:15px;
}

.title-2 {
  display:block;
  font:$font-1;
  font-weight:400;
  font-size:24px;
  line-height: 1.2em;
  margin-bottom:15px;
}

.title-3 {
  display:block;
  font:$font-1;
  font-weight:800;
  font-size:16px;
  line-height: 1.2em;
   margin-bottom:10px;
}

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em;
}

.input, .textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .1em solid $grey-4;
  width: 100%;
  box-sizing: border-box;
  transition: all .3s ease;
  resize: none;
  font-size:16px;
}

.input:focus, textarea:focus {
  outline: none;
  border-color: $color-1;
}

.input[type='button'], .input[type='submit'], .button, .button {
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 1em 1.5em;
  transition: all .3s ease;
  margin-bottom: .75em;
  margin-bottom: .75rem;
}

.button {
  display: inline-block;
  margin-right:10px;
  margin-left:10px;
}

.form-btn-1, .btn-1 {
  color: $grey-1;
  @include btnHover($color-2);
  &:hover {
    color:$grey-1;
  }
}

.btn-2 {
   color: $grey-1;
  @include btnHover($color-3);
   &:hover {
    color:$grey-1;
  }
}

.btn-3 {
  color: $grey-7 !important;
  font-size: 14px;
 @include btnHover($grey-4);
  &:hover {
    color:$grey-1;
  }
}

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding:10px;
  background:$grey-3;
  box-shadow:$shadow-1;
}