@function black($opacity){
  @return rgba(0,0,0,$opacity)
}
@function white($opacity){
  @return rgba(255,255,255,$opacity)
}

@mixin letterpress($opacity){
  text-shadow:white($opacity) 0 1px 0;
}

@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin btnHover($baseColor) {
  background-color: $baseColor;
  &:hover {
        background-color: darken($baseColor, 10);
          }
  &:active, &:focus {
    background-color:$baseColor;
  }
}

$font-1:'Open Sans', sans-serif;
$grey-1: rgba(245,245,245,1);
$grey-2: rgba(230,230,230,1);
$grey-3: rgba(200,200,200,1);
$grey-4: rgba(170,170,170,1);
$grey-5: rgba(140,140,140,1);
$grey-6: rgba(100,100,100,1);
$grey-7: rgba(50,50,50,1);
$grey-8: black;
$color-1: rgba(0,169,255,1);
$color-2: rgba(3,134,201,1);
$color-3: rgba(247,167,16,1);
$color-4: rgba(147,112,233,1);
$color-5: rgba(229, 229, 229,1);
$color-6: rgba(221,213,248,1);
$pattern-1: url('../img/pattern.img');
$gradient-1:linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%);
$shadow-1: 0 1px 2px rgba(0, 0, 0, 0.21);
$shadow-in-1:inset 0 1px 2px rgba(0, 0, 0, 0.21);

a {
  color:$color-1;
}

body {
  background:white;
}

/* wrapper */
.wrapper, .wrap {
  width: 100%;
  margin:0 auto;
  position:relative;
}

.page-wrapper, .p-wrap {
  position:relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding-right:20px;
  padding-left:20px;
}

.post, .content {
  background:white;
  padding:50px 20px;
}
/*======================================================== 
header 
==========================================================*/
.header {
  background: white;
  border-bottom:solid 1px $grey-4;
  z-index: 6000;
}

.mble-btns {
  padding:20px;
}

/* ==============================================================
logo
================================================================= */

.logo {
  float:left;
  width:70%;
  display: block;
  position: relative;
  padding:10px 0;
  z-index: 6002;
  a:hover {
    color: black !important;
  }
}

.logo-img {
  width: 100%;
  margin: 0;
}

/* ============================================================
nav 
================================================================*/
#nav-toggle {
  color:$grey-7;
  float:right;
  border:solid 1px $grey-3;
  padding:5px 5px 5px 10px;
  font-size: 22px;
  margin-top: 10px;
}

.mble-nav .p-wrap {
  padding:0;
  display: block;
  position: relative;
  z-index: 6001;
}
.mble-nav {
   ul {
      display:block;
      margin: 0;
      padding: 0;
      position:relative;
      z-index: 6002;
     }
    li {
      position:relative;
      display:block;
      border-bottom:solid 1px $grey-4;
      &:last-child {
        border:none;
      }
      a {
        display:block;
        color: $grey-8;
        padding: 18px 30px;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
      }
    }
    a:hover {
       background: $grey-3;
    }
    .sub-menu {
        width:150px;
        display: block;
        transition: all .2s ease;
        visibility: hidden;
        opacity:0;
        z-index:-1;
        position:absolute;
        top:30px;
        margin:0px 0px 0px -16px;
        padding:0px;
      li {
        text-align: center;
        width:100%;
        background:white;
        display: block;
        position:relative;
        box-shadow:$shadow-1;
        border-bottom:solid 1px $grey-3;
        border-right:solid 1px $grey-3;
        border-left:solid 1px $grey-3;
        a {
          padding:10px 10px;
          color:$grey-8;
        }
        &:after {
          display: none;
          border:none;
        }
        a:hover {
          background:$grey-2;
          text-decoration: none;
          color:$grey-8;
        }
      }
    }
  }


.nav ul li:hover > .sub-menu {
  transition: all .1s ease;
  visibility: visible;
  display:inline-block;
  opacity:1;
  top:54px; 
}


.sub-menu li .sub-menu {
  li {
    right: -150px;
    top: -50px;
  }
}
.current_page_item a {
color: black;
}

/*=============================================================
banner
===============================================================*/

.banner-home {
    /* height: 420px; */
    background: url('./img/bkg-1.jpg');
    background-size: cover;
}


/* ===============================================================
footer items
=================================================================== */

.footer-items {
    background:$grey-2;
    padding: 25px 0;
    border-top: solid 1px $grey-3;
    color: rgb(82, 82, 82);
    ul {
      padding-left:0;
    }
    .widget_nav_menu {
      width: 33.3%;
      float: left;
      border-right: solid 1px rgb(194, 194, 194);
      padding-left: 35px;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        }
    }
    .widget_text {
      padding-left: 36px;
      width: 33.3%;
      float: left;
       @media (max-width: 45em) {
        float:none;
        width:90%;
        } 
    }
}

/*=============================================================== 
footer 
================================================================*/

footer {
  background:$grey-6;
  text-align:center;
  color: $grey-1;
  padding: 10px;
  font-size: 12px;

  a {
    color: $grey-1;
  }
}

/* ==========================================================================
   =COLOR
   ========================================================================== */
.swatch {
  box-sizing:border-box;
  height: 5em;
  margin: 10px;
}

.color-1 {
  background: $color-1;
}

.color-2 {
  background: $color-2;
}

.color-3 {
  background: $color-3;
}

.color-4 {
  background: $color-4;
}

.color-5 {
  background: $color-5;
}

.color-6 {
  background: $color-6;
}

.grey-1 {
  background: $grey-1;
}

.grey-2 {
  background: $grey-2;
}

.grey-3 {
  background: $grey-3;
}

.grey-4 {
  background: $grey-4;
}

.grey-5 {
  background: $grey-5;
}

.grey-6 {
  background: $grey-6;
}

.grey-7 {
  background: $grey-7;
}

.grey-8 {
  background: $grey-8;
}

.txt-color-1 {
  color: $color-1;
}

.txt-color-2 {
  color: $color-2;
}

.txt-color-3 {
  color: $color-3;
}

.txt-color-4 {
  color: $color-4;
}

.txt-color-5 {
  color: $color-5;
}

.txt-color-6 {
  color: $color-6;
}

.txt-wht {
  color:$grey-1;
}


/* ===========================================================================
  typography
  =========================================================================== */
p {margin:0 0 20px;}

ul li, ol li {line-height: 130%;}

.pad-sm {
  padding:10px;
}

.pad-m {
  padding:25px;
}

.pad-l {
  padding:50px;
}

.headline-1 {
  display:block;
  font-family:$font-1;
  font-weight: 700;
  font-size:53px;
  line-height: 1.2em;
  margin: 0 0 15px -3px;
}

.sub-headline-1 {
  letter-spacing: .3em;
  line-height: 1.2em;
  display:block;
  font-family:$font-1;
  font-weight: 600;
  font-size:24px;
  margin: -20px 0 10px;
}

.title-1 {
  display:block;
  font-family:$font-1;
  font-weight: 400;
  font-size:42px;
  line-height: 1.2em;
   margin-bottom:15px;
}

.title-2 {
  display:block;
  font:$font-1;
  font-weight:400;
  font-size:24px;
  line-height: 1.2em;
  margin-bottom:15px;
}

.title-3 {
  display:block;
  font:$font-1;
  font-weight:800;
  font-size:16px;
  line-height: 1.2em;
   margin-bottom:10px;
}

/* ==========================================================================
   = User input
   ========================================================================== */
.ws-form {
  margin-top: -1.5em;
}

.input, .textarea {
  /* Use for styling text based form elements, like name, email, password. 
  Button/submit specific styles below, those will override */
  display: block;
  padding: .5em;
  margin-bottom: .75em;
  border: .1em solid $grey-4;
  width: 100%;
  box-sizing: border-box;
  transition: all .3s ease;
  resize: none;
  font-size:16px;
}

.input:focus, textarea:focus {
  outline: none;
  border-color: $color-1;
}

.input[type='button'], .input[type='submit'], .button, .button {
  border: none;
  line-height: 1;
  cursor: pointer;
 
  transition: all .3s ease;
}

.button {
  display: inline-block;
}

.form-btn-1, .btn-1 {
  padding: 10px 20px;
  color: $grey-1;
  @include btnHover($color-2);
  &:hover {
    color:$grey-1;
  }
}

.btn-2 {
  padding: 10px 20px;
  color: $grey-1;
  @include btnHover($color-3);
   &:hover {
    color:$grey-1;
  }
}

.btn-3 {
  padding: 10px 20px;
  color: $grey-7 !important;
  font-size: 14px;
 @include btnHover($grey-4);
  &:hover {
    color:$grey-1;
  }
}

/* =========================================================================
   =objects
   ========================================================================= */
.img-1 {
  padding:10px;
  background:$grey-3;
  box-shadow:$shadow-1;
}